@model HeadHunterVer1._0.ViewModels.RegisterViewModel


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
<div asp-validation-summary="ModelOnly" class="alert-danger alert text-danger"></div>

<link rel="stylesheet" href="~/css/RegisterPage.css" asp-append-version="true"/>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Регистрация в HeadHunter</title>
    <p id="roleError"></p>
</head>
<body>
<div class="container-register">
    <h1>Регистрация в HeadHunter</h1>
    <form asp-action="Register" method="post" asp-antiforgery="true" enctype="multipart/form-data">
        <div class="form-group">
        </div>
        <div class="form-group">
            <label>Выберите роль:</label><br>
            <input type="radio" id="employerRadioEmployer" asp-for="Role" value="employer" onclick="toggleNicknameField(true)"> Работодатель<br>
            <input type="radio" id="employerRadioEmployee" asp-for="Role" value="employee" onclick="toggleNicknameField(false)"> Работник<br>
        </div>
        <div class="form-group nickname-group d-none">
            <label id="nicknameLabel" asp-for="NameCompanyOrUser"></label>
            <input type="text" id="nicknameInput" asp-for="NameCompanyOrUser">
            <span asp-validation-for="NameCompanyOrUser" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Электронная почта:</label>
            <input type="email" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">

            <label asp-for="Password">Пароль:</label>
            <input type="password" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Подтверждение Пароль:</label>
            <input type="password" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AvatarFile">Загрузите фото</label>
            <input type="file" asp-for="AvatarFile">
            <span asp-validation-for="AvatarFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Номер телефона</label>
            <input type="text" asp-for="PhoneNumber">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <button type="submit">Зарегистрироваться</button>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    </form>
    <p class="bottom-text">
        Уже есть аккаунт? <a asp-action="Login" asp-controller="Accounts" class="text-black" type="submit">Войти</a>
    </p>
</div>
</body>
</html>
<script>
document.addEventListener("DOMContentLoaded", function() {
    let employerRadio = document.getElementById("employerRadioEmployer");
    let employeeRadio = document.getElementById("employerRadioEmployee");
    let errorSpan = document.getElementById("roleError");

    function validateRoleSelection() {
        if (!(employerRadio.checked || employeeRadio.checked)) {
            errorSpan.innerText = "Для ввода именни выберете роль (Ввод имени обязателен)";
            errorSpan.classList.add("text-black", "alert", "alert-danger");
            return false;
        } else {
            errorSpan.innerText = "";
            errorSpan.classList.remove("text-black", "alert", "alert-danger");
            return true;
        }
    }
    function updateError() {
        validateRoleSelection();
    }
    employerRadio.addEventListener("change", updateError);
    employeeRadio.addEventListener("change", updateError);
    validateRoleSelection();
});

</script>