    <link rel="stylesheet" href="~/css/ErorPage.css" asp-append-version="true"/>
   
    @{
        var exceptionMessage = ViewData["ExceptionMessage"] as string;
        var exceptionStack = ViewData["ExceptionStack"] as string;
        var actionName = ViewData["ActionName"] as string;
        var errorCode = ViewData["ErrorCode"] as int?;
    }
<body>
<section class="notFound">
    <div class="img">
        <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
        <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
    </div>
    <div class="text">
        <h1>@errorCode</h1>
        <h2>PAGE NOT FOUND</h2>
        <p>
            @exceptionStack
        </p>
        <p>Action Name: @actionName</p>
        <h3>BACK TO HOME?</h3>
        <a asp-action="Index" asp-controller="Accounts">YES</a>
        <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo">NO</a>
    </div>
</section>
</body>
 
    


